extends base

block content
  main.main

    .item-container

      each item in candidates
        section.section-cta
          .cta
            .cta__img.cta__img--logo
              - const imgName = item.symbol.split('-')
              img(src=`/img/items/${imgName[0]}.webp`, alt='Bitcoin logo')
            img.cta__img.cta__img--1(src='/img/logo-white.png', alt='')
            .cta__content
              h2.heading-secondary What are you waiting for?
              p.cta__text= `${item.symbol} only costs $${item.last_trade_price}🤫 Make it yours today!`
              a.btn.btn--green.span-all-rows(href=`/sniper/create/${item.symbol}-${item.last_trade_price}`) Buy now!