extends base

block content

  main.main
    .sniper-container 
    div &nbsp;
  
    .card-container
    
      each item in items 
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              - const imgName = item.symbol.split('-')
              img.card__picture-img(src=`/img/items/${imgName[0]}.webp`, alt=`${item.symbol}`)
            h3.heading-tertirary
              span.itemSymbol= item.symbol

          .card__details
            - let dur = item.duration - Date.now()
            - dur = Math.ceil(dur / (24 * 60 * 60 * 1000))
            h4.card__sub-heading= `${dur}-day item`
            p.itemId.card__text= `${item._id}`
            p.itemPurchasedAt.card__text= `purchased at $${item.purchasedAt}`
            span.card__text=` on ${item.createdAt.toLocaleString('en-us', {month: 'short',day: 'numeric'})}.`
            p.itemProfit.card__text= `The profit is $${((item.price - item.purchasedAt) * 1).toFixed(2)}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-trending-down')
              span.min= `at least $${item.minPrice}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span.itemDuration= `${item.duration.toLocaleString('ko-KR', {month: 'long', day: 'numeric', year: 'numeric'})}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-trending-up')
              span.max= `at most $${item.maxPrice}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span.itemStatus= item.status

          .card__footer
            p
              span.itemPrice.card__footer-value= `$${item.price}` 
              | 
              span.card__footer-text now
            p.card__ratings
              span.card__footer-value= `${item.incPercent}%`
              | 
              span.card__footer-text changed
            button.sellItemNow.btn.btn--green.btn--small Sell Now