extends base

block content
  main.main
    .card-container
    
      each item in items 
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              - const imgName = item.symbol.split('-')
              img.card__picture-img(src=`/img/items/${imgName[0]}.webp`, alt=`${item.symbol}`)
            h3.heading-tertirary
              span= item.symbol

          .card__details
            - let dur = item.duration - Date.now()
            - dur = Math.ceil(dur / (24 * 60 * 60 * 1000))
            h4.card__sub-heading= `${dur}-day item`
            //- p.card__text= item.summary
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-trending-down')
              span= `at least $${item.minPrice}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= `${item.duration.toLocaleString('ko-KR', {month: 'long', day: 'numeric', year: 'numeric'})}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-trending-up')
              span= `at most $${item.maxPrice}`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= item.status

          .card__footer
            p
              span.card__footer-value= `$${item.price}`
              | 
              span.card__footer-text now
            p.card__ratings
              //- item.incPercet
              span.card__footer-value 12%
              | 
              span.card__footer-text increased
            a.btn.btn--green.btn--small(href=`/sniper/${item.symbol}`) Details